@import "tailwindcss";

@theme {
  /* forwards: 动画结束后保持最后一帧的状态 */
  /* ease-out: 动作由快变慢，显得更优雅 */
  --animate-reveal: reveal 1s ease-out forwards;

  @keyframes reveal {
    0% {
      opacity: 0;
      filter: blur(15px); /* 初始状态：全透明且模糊 */
      transform: scale(0.9); /* 初始状态：轻微缩小，增加纵深感 */
    }
    100% {
      opacity: 1;
      filter: blur(0); /* 结束状态：清晰 */
      transform: scale(1); /* 结束状态：正常大小 */
    }
  }
}
